*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html{
  min-height: 100%;
  position: relative;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(rgba(255, 255, 255, 0.925),rgba(252, 197, 197, 0.568)), url("background.jpg");
  background-position:center;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}

/*HEADER */
.title{
  font-size: 70px;
  font-weight: 600;
  text-shadow: 0px 0px 12px #ff9f9fb7, 0px 0px 0.70px #ffffffc0, 0px 0px 0.8px  #1093ff,
    0px 0px 2px #b9a3f5;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  margin-right: 50px;
}

/*CONTAINERS */

#container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    min-height: 520px;
    min-width: 520px;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    margin: 60px;
    background-color: white;

    
    
    
}
#settings{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 200px;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.main-container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

/*--- style for color picker -- */

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1.07);
}

input[type='color'] {
  width: 90px;
  height: 90px;
  border: none;
  background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#myColor{
  align-self: center;
}
.size-value{
  align-self: center;
  font-weight: bolder;
  font-size: 20px;
}

/*-- buttons --*/ 
.button-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}



.button{
  min-width: 200px;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  margin-top: 10px;
  align-self: center;
  cursor: pointer;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  transition: transform 100ms linear; 
}
.button::after{
  content: "";
  width: 0%;
  height: 2px;
  background-color: #423e3e;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.button:hover::after{
  width: 73%;
}

.button:hover{
  transform: scale(1.07);
}

#eraser:hover::after{
  width: 35%;
}
#colorMode:hover::after{
  width: 56%;
}

.rangediv{
  display: flex;
  flex-direction: column;
}

.value{
  align-self: center;
  font-size: 30px;
  font-weight: bold;
  color: white;

}
#number{
  align-self: center;
}

/* */

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: white;
}
.fa-github {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  color: black;  
}

.fa-github:hover {
  transform: rotate(1080deg) scale(1.4);
}

